$baseDark: (
    primary: #333,
    accent: #fff
);

html, body {
    height: 100%;  
}

body {
    margin: 0;
    background-color: map-get($baseDark, primary);
    color: map-get($baseDark, accent);
}

