

.site-foot {
    background-color: $base-ichiji;
    width: 100%;
    //max-height: 50px;

    .footer-container {
        display: flex;
        max-width: 42em;
        text-align: center;
        color: $base-niji;
        padding-top: 10px;

        .mastfoot {
            .inner {
                a,
                a:focus,
                a:hover {
                    color: $base-niji;
                }
            }
        }
    }
    
}