@mixin background($imgpath, $repeat: no-repeat) {
    background: {
        image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.8)), url($imgpath);
        repeat: $repeat;
    }
}

.site-head {
    //background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.8)), $header-ichiji;
    //@include background('../../images/header-bg1.jpg');

    background-size: cover;
    position: relative;
    height: 100%;

    .nav-container {
        display: flex;
        background-color: transparent;
        max-width: 42em;

        .masthead {
            margin-bottom: 2rem;
            //z-index: 99;
            width: 100%;

            .inner {
                    a,
                    a:focus,
                    a:hover {
                        color: $base-niji;
                    }

                    .nav-link {
                        background-color: transparent;
                        border-bottom: solid 2px $base-sanji;
                    }

                    .masthead-brand:hover,
                    .masthead-brand:focus,
                    .nav-link:hover,
                    .nav-link:focus {
                        background-color: transparent;
                        border-bottom-color: $base-sanji; //rgba(205, 205, 205, .55);
                        box-shadow: 1px 40px 19px #797979ab;
                    }
            }

            h3 {
                float: left;
                margin-bottom: 0;
            }

            .nav-masthead {
                    float: right;

                .active {
                    color: $base-niji;
                    border-bottom-color: $base-niji;
                }
            }
        }
    }

    .header-content-container {
        margin: 0 0;
        padding: 10% 0;

        .content-head {
            color: $base-niji;
            margin: auto;
            text-align: center;
            margin: 2% 0;
        }
        .content-main {
            text-align: center;
            padding: 0 30%;
            
            .contact-source {
                color: $base-niji;
            }
        }
    }
}
